<div>
  <h2>Todo List</h2>
  <div *ngIf="store.loading(); else showList" class="loading">Loading...</div>
  <!-- <div *ngIf="(error$ | async) as error" class="error">Error: {{ error }}</div> -->
  
  
  <div class="add-todo">
    <input
      [(ngModel)]="newTodo"
      placeholder="Add a new todo..."
      (keyup.enter)="addTodo()"
    />
    <button (click)="addTodo()">Add</button>
  </div>

  <div class="add-todo">
    <button [class.active]="currentFilter() === 'all'" (click)="onFilter('all')">All</button>
    <button [class.active]="currentFilter() === 'pendig'"  (click)="onFilter('pendig')">Pending</button>
    <button [class.active]="currentFilter() === 'completed'"  (click)="onFilter('completed')">Completed</button>
  </div>
  <ng-template #showList>
    
    
    @for (todo of store.filteredTodos(); track todo.id) {
      <app-todo-item
      [todo]="todo"
      (update)="onUpdate($event)"
      (delete)="onDelete(todo.id)">
    </app-todo-item>
    }

  </ng-template>
</div>

